// Import file variabili
@import "@/styles/variables";

.container-card {
  position: relative;
  .container-poster {
    width: 100%;
    height: 100%;
    position: relative;
    .poster {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  // .container-poster::after {
  //   background: $secondary-color;
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }

  .container-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 16px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: none;

    .language {
      display: none;
    }

    .title {
      color: $primary-color;
    }

    .title-original {
      color: $third-color;
      font-style: italic;
      margin: 10px 0 20px 0;
    }

    // .flag-lang {
    //   width: 20px;
    //   height: auto;
    // }

    .alternative-img {
      background-color: #ccc;
      width: 185px;
      height: 279px;
      display: flex;
      text-align: center;
      align-items: center;
    }

    .icon-star {
      color: $primary-color;
      margin-bottom: 20px;
    }

    .overview {
      color: $third-color;
      font-size: $card;
    }
  }
}

.container-card:hover .container-info {
  display: block;
}

.container-card:hover .container-poster {
  opacity: 0.3;
}
