.container-card {
  .title,
  .title-original,
  .language,
  .flag-lang,
  .ratings {
    margin-bottom: 5px;
  }
  .flag-lang {
    width: 20px;
    height: auto;
  }
  .alternative-img {
    background-color: #ccc;
    width: 185px;
    height: 279px;
    display: flex;
    text-align: center;
    align-items: center;
  }
}
