// Import file variabili
@import "@/styles/variables";

.footer {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;

  // Parte alta footer
  .footer-top {
    color: $third-color;
    width: 100%;
    justify-content: space-evenly;
    .second,
    .third,
    .fourth {
      margin-top: 50px;
    }
    .menu-footer {
      list-style: none;
      li {
        margin-bottom: 25px;
        a {
          color: $primary-color;
        }
        .icon-footer {
          margin-right: 20px;
          font-size: $footer-icon;
        }
        .link-footer {
          text-decoration: none;
          color: $footer;
        }
        .link-footer:hover {
          color: $primary-color;
        }
      }
    }
  }

  // Copytight
  .copyright {
    color: $footer;
    margin-top: 10px;
    font-size: $copyright-text;
    text-align: center;
    .icon-copyright {
      color: $primary-color;
    }
    a {
      text-decoration: none;
      color: currentColor;
      font-style: italic;
    }
    a:hover {
      color: $primary-color;
    }
  }
}
