// Import file variabili
@import "@/styles/variables";

.footer {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;

  // Parte alta footer
  .footer-top {
    color: $third-color;
    width: 100%;
    justify-content: space-evenly;
    .second,
    .third,
    .fourth {
      margin-top: 50px;
    }
    .menu-footer {
      list-style: none;
      li {
        margin-bottom: 25px;
        a {
          color: $primary-color;
        }
        .icon-footer {
          margin-right: 20px;
          font-size: $footer-icon;
        }
        .icon-footer:hover {
          color: $third-color;
        }
        .link-footer {
          text-decoration: none;
          color: $footer;
        }
        .link-footer:hover {
          color: $primary-color;
        }
      }
    }
  }
  // Social Tablet
  .container-social-tablet {
    display: none;
  }
  // Copyright
  .copyright {
    color: $footer;
    margin-top: 10px;
    font-size: $copyright-text;
    text-align: center;
    .icon-copyright {
      color: $primary-color;
    }
    a {
      text-decoration: none;
      color: currentColor;
      font-style: italic;
    }
    a:hover {
      color: $primary-color;
    }
  }
}

// MEDIA QUERY
/* Schermi da 576px a 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .footer .footer-top {
    .first {
      .menu-footer {
        li.social-footer {
          display: none;
        }
      }
    }
    .second,
    .third,
    .fourth {
      margin-top: 0px !important;
    }
    .first,
    .second,
    .third,
    .fourth {
      .menu-footer {
        li {
          margin-bottom: 10px;
          a {
            font-size: $menu-mobile;
          }
        }
      }
    }
  }
  .footer .container-social-tablet {
    display: none;
  }
  .footer .copyright {
    font-size: $menu-mobile;
  }
}

/* Schermi da 768px a 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer .footer-top {
    .first {
      .menu-footer {
        li.social-footer {
          display: none;
        }
      }
    }
    .second,
    .third,
    .fourth {
      margin-top: 0px !important;
    }
    .first,
    .second,
    .third,
    .fourth {
      .menu-footer {
        li {
          margin-bottom: 10px;
          a {
            font-size: $menu-mobile;
          }
        }
      }
    }
  }
  .footer .container-social-tablet {
    display: block;
    text-align: center;
    .icon-footer {
      margin-right: 20px;
      font-size: $footer-icon-tablet;
      color: $primary-color;
    }
    .icon-footer:hover {
      color: $third-color;
    }
  }
  .footer .copyright {
    font-size: $menu-mobile;
  }
}
