// Import file variabili
@import "@/styles/variables";

.footer {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 30px;
  // Parte alta footer
  .footer-high {
    margin-bottom: 30px;
    a {
      color: $primary-color;
    }
    .icon-footer {
      margin-right: 20px;
      font-size: $footer-icon;
    }
  }
  // Parte bassa footer
  .footer-low {
    color: $third-color;
    width: 100%;
    justify-content: space-evenly;
    .menu-footer {
      list-style: none;
      li {
        margin-bottom: 10px;
        .link-footer {
          text-decoration: none;
          color: $footer;
        }
        .link-footer:hover {
          color: $primary-color;
        }
      }
    }
  }
  // Copytight
  .copyright {
    color: $footer;
    margin-top: 20px;
    .icon-copyright {
      color: $primary-color;
    }
    a {
      text-decoration: none;
      color: currentColor;
      font-style: italic;
    }
    a:hover {
      color: $primary-color;
    }
  }
}
