//Importazione file variabili
@import "@/styles/variables";

//Stile globali
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: $fourth-color;
}

// Utilities
.d-flex {
  display: flex;
}
