// Import file variabili
@import "@/styles/variables";

.header {
  background-color: $primary-color;
  width: 100%;
  padding: 16px 30px;
  justify-content: space-between;
  align-items: center;
  // /Header Left
  .header-left {
    width: 20%;
    align-items: center;

    .brand-link {
      .logo-header {
        width: 80px;
        margin-right: 20px;
      }
    }
    .name-app {
      font-family: $font-primary;
      font-weight: $bold;
      font-size: $headerBig;
    }
  }
  // Header center
  .header-center {
    width: 50%;
    justify-content: center;
    font-family: $font-primary;
    .main-menu {
      list-style: none;
      .menu-item {
        margin-right: 15px;
        .link-menu {
          text-decoration: none;
          color: $secondary-color;
          font-family: $font-primary;
          font-size: 18px;
        }
        .link-menu:hover {
          color: $third-color;
        }
      }
    }
  }
  // Header right
  .header-right {
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    .info-user {
      margin-right: 15px;
      .icon-header {
        background-color: $secondary-color;
        color: $primary-color;
        margin: 0 10px;
        border-radius: 50%;
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }
    }
    button {
      margin: 0 10px;
    }
    input {
      width: 250px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid #ccc;
      color: $secondary-color;
      margin-right: 10px;
      outline: none;
    }
    input:focus {
      border: 1px solid $secondary-color;
    }

    .btn {
      height: 30px;
      width: 60px;
      border-radius: 10px;
      border: none;
      background-color: $secondary-color;
      color: $primary-color;
      margin-right: 5px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
