// Import file variabili
@import "@/styles/variables";

.header {
  background-color: $primary-color;
  width: 100%;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // /Header Left
  .header-left {
    width: 20%;
    align-items: center;
    display: flex;

    .brand-link {
      .logo-header {
        width: 80px;
        margin-right: 20px;
      }
    }
    .logo-pastelloflix {
      width: 200px;
    }

    // .name-app {
    //   font-family: $font-primary;
    //   font-weight: $bold;
    //   font-size: $headerBig;
    //   color: $secondary-color;
    // }
  }

  // Header center
  .header-center {
    width: 50%;
    justify-content: center;
    font-family: $font-primary;
    .main-menu {
      list-style: none;
      display: flex;
      margin: 0;
      .menu-toggle-mobile {
        display: none;
      }
      .menu-item {
        margin-right: 15px;
        .link-menu {
          text-decoration: none;
          color: $secondary-color;
          font-family: $font-primary;
          font-size: 18px;
        }
        .link-menu:hover {
          color: $third-color;
        }
      }
    }
  }

  // Header right
  .header-right {
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    // .info-user {
    //   margin-right: 15px;
    //   .icon-header {
    //     background-color: $secondary-color;
    //     color: $primary-color;
    //     margin: 0 10px;
    //     border-radius: 50%;
    //     font-size: 20px;
    //     width: 40px;
    //     height: 40px;
    //     line-height: 40px;
    //     text-align: center;
    //   }
    //   .dropdown-custom {
    //     position: relative;

    //     .menu-dropdown-custom {
    //       list-style: none;
    //       background-color: $secondary-color;
    //       border-radius: 10px;
    //       width: 150px;
    //       position: absolute;
    //       top: 39px;
    //       left: 0;
    //       padding: 0 10px;
    //       margin: 0;
    //       display: none;
    //       .item-dropdown {
    //         color: $third-color;
    //         margin-bottom: 20px;
    //         font-family: $font-primary;
    //         font-size: $subtitle;
    //       }
    //       .item-dropdown:first-child {
    //         margin-top: 20px;
    //       }
    //       .divider {
    //         display: block;
    //         height: 1px;
    //         background: #aaaaaa;
    //         margin: 20px 0;
    //       }
    //     }
    //     .menu-dropdown-custom.active {
    //       display: block;
    //     }
    //   }
    // }
    #input-site {
      width: 250px;
      height: 30px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
      color: $secondary-color;
      margin-right: 10px;
      margin-left: 10px;
      outline: none;
      font-family: $font-secondary;
    }

    #input-site:focus {
      border: 1px solid $secondary-color;
    }

    .button-site {
      margin: 0 10px;
      height: 30px;
      width: 60px;
      border-radius: 10px;
      border: none;
      background-color: $secondary-color;
      color: $primary-color;
      margin-right: 5px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.header .header-right .dropdown #dropdownMenuButton {
  background-color: $primary-color;
  .icon-header {
    color: $primary-color;
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: $secondary-color;
  }
}
.header .header-right .dropdow #dropdownMenuButton:focus {
  outline: 0;
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}

.header .header-right .dropdow #custom-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: $third-color;
  text-align: left;
  list-style: none;
  background-color: $secondary-color;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

// MEDIA QUERY
/* Schermi da 576px a 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
  // HEADER
  .header {
    padding: 10px;
    // Header left
    .header-left {
      flex-direction: column;
      width: 20%;
      .brand-link {
        .logo-header {
          width: 50px;
          margin: 0;
        }
      }
      .logo-pastelloflix {
        width: 80px;
      }
    }
    // Header center
    .header-center {
      width: 50%;
      justify-content: center;
      display: flex;
      .main-menu {
        display: none;
      }
      .menu-toggle-mobile {
        display: block;
        color: $secondary-color;
        font-size: $headerBig;
        cursor: pointer;
      }
    }
    // Header right
    .header-right {
      width: 40%;
      #input-site {
        width: 200px;
        height: 25px;
        padding: 10px;
        border-radius: 10px;
        margin-right: 5px;
        margin-left: 0;
        font-size: $menu-mobile;
      }
      .button-site {
        margin: 3px 0;
        height: 20px;
        width: 50px;
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
  .header .header-right .dropdown #dropdownMenuButton {
    display: none;
    .icon-header {
      display: none;
    }
  }
}
/* Schermi da 768px a 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  // HEADER
  .header {
    padding: 10px;
    // Header left
    .header-left {
      flex-direction: row;
      width: 30%;
      .brand-link {
        .logo-header {
          width: 70px;
          margin: 0;
          margin-right: 20px;
        }
      }
      .logo-pastelloflix {
        width: 100px;
      }
    }
    // Header center
    .header-center {
      width: 20%;
      justify-content: center;
      display: flex;
      .main-menu {
        display: none;
      }
    }
    // Header right
    .header-right {
      width: 50%;
      #input-site {
        width: 200px;
        height: 25px;
        padding: 10px;
        border-radius: 10px;
        margin-right: 5px;
        margin-left: 0;
        font-size: $menu-mobile;
      }
      .button-site {
        margin: 3px 0;
        height: 25px;
        width: 70px;
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
  .header .header-right .dropdown #dropdownMenuButton {
    display: none;
    .icon-header {
      display: none;
    }
  }
} ;
