.main-container {
  padding: 16px;
  .container-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .film-item,
  .series-item {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
