// Import file variabili
@import "@/styles/variables";

.main-container {
  padding: 50px 30px;
  // flex-grow: 1;
  // overflow: auto;
  background-color: $fourth-color;

  .container-list {
    .title-container {
      color: $primary-color;
      margin-bottom: 20px;
      .icon-title {
        font-size: $icon-title;
        margin-right: 15px;
      }
      .title-text {
        font-size: $icon-title;
        font-family: $font-primary;
        font-weight: $semibold;
      }
    }
  }

  .container-film,
  .container-series {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0;

    .list-item {
      margin: 0 20px 20px 0;
      width: calc(100% / 7 - 20px);
      text-align: center;
      height: 400px;
      .film-item,
      .series-item {
        height: 100%;
      }
    }
  }
  .no-result {
    display: flex;
    justify-content: center;
    height: 100%;
    .text-no-result {
      color: $primary-color;
      font-family: $font-primary;
      font-size: $title;
      align-self: center;
    }
  }
}

// MEDIA QUERY
/* Schermi da 576px a 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .main-container {
    .container-film,
    .container-series {
      .list-item {
        width: calc(100% / 2 - 20px);
      }
    }
  }
}
/* Schermi da 768px a 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-container {
    .container-film,
    .container-series {
      .list-item {
        width: calc(100% / 3 - 20px);
      }
    }
  }
}
