// Import file variabili
@import "@/styles/variables";

.container-warning {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $primary-color;
  font-family: $font-primary;
  font-size: $warning;
}

// MEDIA QUERY
/* Schermi da 576px a 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: $warning-mobile;
  }
}
