// Import file variabili
@import "@/styles/variables";

.container-warning {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: $primary-color;
  font-family: $font-primary;
  font-size: $warning;
}
